*.pyc
*.idea
workspace.xml
.pytest_cache
**/__pycache__/
/optimistic_samples_actual/
/optimistic_samples_regression/
/test-output/*/actual/
/test-output/*/regression/
**/output/*/*.txt
**/output/*/*.csv
**/output/*.txt
**/output/*.bin
**/generated/*/*.dat
**/generated/*/*.mod
**/generated/*/*.csv
**/generated_models/*/*.dat
**/generated_models/*/*.mod
**/generated_models/*/*.csv

# Jupyter Notebook
*/.ipynb_checkpoints

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST